
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: aliceblue;
}

.login-msal {
    background-color: rgb(41, 140, 226) !important;
}
.centered-content {
    display: flex;
    flex-direction: column;
        align-items: center;
    justify-content: center;
}

/* Override default accent color for button */
.btn {
    color: #D9B257;
    background-color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.loggingin {
    font-weight: 900;
    padding: 20px;
}

.home {
    background-color: #D9B257;
    color: white;
    font-size: large;
    font-weight: bold;
}